#nav-top{
    display: flex;
    padding: 16px 8px 8px 8px;
    justify-content: space-between;
}

a {
    text-decoration: none !important;
    color: inherit;
}

.content {
    position: inherit;
}

.alert-success {
    --background: #62E841;
}

.alert-failed{
    --background: #e84141;
}

.upload-media{
    height: 100px;
    width: 100px;
    background-color: rgb(95, 87, 87)
}

:root {
    --animate-duration: 1s;
    --animate-delay: 0.9s;
}

.form-post{
    padding: 8px 16px;
}